.search_box_container {
    width: 100%;
    text-align: center;
}

.search_box_input {
    width: 50%;
    margin: auto;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10rem;
    background: white;
    display: flex;
}

.search_box_input input {
    flex-grow: 1;
    outline: none;
    border: none;
}

.search_box_input button {
    width: 80px;
    border: none;
    background: white;
    cursor: pointer;
    color: var(--main-color-blue);
}