@use '../../app/reset';

/* ===== summoner search box ===== */
.summonerSearch_box_wrapper {
    @include reset.box(90%, auto, 0.6rem);
    box-shadow: reset.$color-gray3 1px 1px 5px;

    >button {
        width: 100%;
        border-radius: 1rem;
        text-align: center;
        font-weight: 700;
        color: reset.$color-gold5;
        padding: 0.5rem;

        &:hover {
            background-color: reset.$color-gold1;
        }
    }

    @media (min-width: 768px) {
        width: 80%;
        margin: auto;
        display: flex;

        >button {
            width: 20%;
            padding: 0;
            margin: 0.2rem auto;
        }
    }
}

.summonerSearch_input_box {
    >input {
        width: 100%;
        padding: 0.8rem;
        margin: 0.2rem auto;
        display: block;
        border: 0.1rem solid reset.$color-gray1;
        border-radius: 1rem;
        font-size: 0.8rem;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-grow: 1;

        >input {
            margin: 0.2rem 0.8rem;
            border: none;
        }

        >input:nth-child(2) {
            border-radius: 0;
            border-left: 0.1rem solid reset.$color-gray1;
        }
    }
}

/* ===== nav box ===== */
.nav_box_wrapper {
    margin: auto;

    @media (min-width: 768px) {
        width: 80%;
        display: flex;
        margin-top: 0.5rem;
    }
}

/* ===== champ box ===== */
.champ_box_wrapper {
    @include reset.box(90%, auto, 0.5rem);
    margin: 0.5rem auto;

    >div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        padding-bottom: 0.3rem;
        border-bottom: 0.1rem solid reset.$color-gray1;

        >div:nth-child(2) {
            color: reset.$color-gold5;
        }
    }

    >div:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        margin-top: 0.5rem;
        position: relative;

        >div {
            width: 7rem;
            text-align: center;
            font-size: 0.8rem;
            padding: 0.1rem 0.3rem;
            border: 0.08rem solid reset.$color-gold5;
            border-radius: 0.5rem;
        }

        >div:nth-child(1) {
            background-color: reset.$color-white;
        }

        >div:nth-child(2) {
            position: absolute;
            background-color: reset.$color-white;

            >div {
                border-top: 0.08rem solid reset.$color-gold5;
            }

            >div:nth-child(1) {
                border: none;
            }
        }
    }

    @media (min-width: 768px) {
        margin-top: 0;
        margin-right: 0.2rem;
        width: 40%;
    }
}

.champ_sorted_list {
    >div {
        display: flex;
        padding-top: 0.5rem;

        >div {
            width: 50%;

            >div {
                display: flex;
                margin: 0.1rem auto;

                >div {
                    padding-top: 0.3rem;
                }

                >div:nth-child(1) {
                    width: 1.5rem;
                    font-weight: 600;
                }

                >img {
                    width: 2rem;
                    background-color: reset.$color-black;
                }

                >div:nth-child(3) {
                    padding-left: 0.5rem;
                    @include reset.textOverflow()
                }
            }
        }
    }

    @media(min-width:768px) {
        >div {
            display: block;

            >div {
                width: 100%;
            }
        }
    }
}


/* ===== board box ===== */
.board_box_wrapper {
    @include reset.box(90%, auto, 1rem);
    margin: 0.5rem auto;

    @media (min-width: 768px) {
        margin-top: 0;
        margin-left: 0.2rem;
        width: 60%;
    }
}

.board_list {
    >div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 0.3rem;
        border-bottom: 0.1rem solid reset.$color-gray1;

        a {
            color: reset.$color-gold5;
        }
    }
}

.board_list_box {
    height: 15rem;
}

.board_post {
    display: flex;
    height: 2.6rem;
    padding: 0.8rem 0;

    >div:nth-child(1) {
        width: 30%;
        text-overflow: ellipsis;
    }

    >div:nth-child(2) {
        width: 20%;
        font-size: 0.8rem;
    }

    >div:nth-child(3) {
        width: 50%;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* ===== post write btn ===== */
.post_write_btn_wrapper {
    width: 90%;
    margin: 0.5rem auto;
    position: relative;
}

.post_write_btn {
    @include reset.btn(reset.$color-gold1, reset.$color-gold3);
    width: 5rem;
    font-size: 0.8rem;
    float: right;
}

.post_write_check {
    @include reset.box(50%, 12rem, 0.5rem);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 768px) {
        width: 80%;
    }
}

.post_write_close_btn {
    float: right;
}

.post_write_check>div:nth-child(2) {
    clear: both;
    text-align: center;
    height: 60%;
    padding: 0.5rem 0 1.5rem 0;
}

.post_write_session_btn {
    display: flex;
    justify-content: space-around;
}

.post_write_session_btn div {
    @include reset.btn(reset.$color-gold1, reset.$color-gold3);
    font-size: 1rem;
    width: 6rem;
    text-align: center;
}

/* ===== logout btn ===== */
.logout_btn {
    @include reset.btn(reset.$color-gold1, reset.$color-gold3);
    width: 6rem;
    margin: auto;
}