.search_container {
    width: 80%;
    margin: auto;
    height: 100%;
}

/* ===================== profile ===================== */
.profile_container {
    width: 100%;
    margin-top: 20px;
}

.profile_box {
    display: flex;
    background: linear-gradient(var(--color-gold-light), var(--color-gold-dark1), var(--color-gold-dark1));
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--color-gray-dark3) 2px 2px 5px;
    border: var(--color-gold-dark2) solid 2px;
}

.profile_box img {
    width: 120px;
    height: 120px;
    background-color: var(--color-white);
    border-radius: 10%;
}

.profile_info {
    margin: 5px 20px;
}

.profile_info>div:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
}

.profile_info div:nth-child(3) {
    font-size: 13px;
    padding-top: 10px;
}

.profile_info div:nth-child(4) {
    font-size: 14px;
}


/* ===================== match ===================== */
.match_container {
    width: 100%;
    margin: 10px 0px;
}

.match_summury_container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-gold-dark1);
    box-shadow: var(--color-gray-dark3) 3px 1px 5px;
}

.match_summury_container>div {
    height: 120px;
}

.match_summury_result {
    display: flex;
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

.match_summury_result>div:nth-child(1)>div:nth-child(1) {
    width: 50px;
    margin-bottom: 10px;
}

.match_summury_result>div:nth-child(1)>div:nth-child(3) {
    margin: 5px 0px;
    border-bottom: 1px solid var(--color-gray-dark1);
}

.match_summury_img {
    position: relative;
    width: 100px;
}

.match_summury_img img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.match_summury_img div {
    position: absolute;
    background-color: var(--color-black);
    border-radius: 5px;
    color: var(--color-white);
    padding: 3px;
    bottom: 15px;
    right: 15px;
}

.match_summury_info {
    width: 350px;
    position: relative;
}

.match_summury_info>div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.match_summury_info_spell {
    display: flex;
}

.match_summury_info_spell img {
    display: block;
    margin: 0px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    background-color: var(--color-black);
}

.match_summury_kda {
    width: 120px;
    text-align: center;
}

.match_summury_kda div:nth-child(1) {
    margin-top: 10px;
    margin-bottom: 2px;
}

.match_summury_kda div:nth-child(2) {
    font-size: 15px;
}

.match_summury_extra {
    margin-top: 10px;
}

.match_summury_extra span {
    font-size: 13px;
}

.match_summury_info_item {
    margin-top: 3px;
}

.match_summury_info_item img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin: 2px;
}

.match_summury_info_item p {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin: 2px;
    display: inline-block;
    background-color: var(--color-black);
}

.match_summury_parti {
    display: flex;
    width: 400px;
}

.match_summury_parti>div {
    width: 200px;
    margin: 5px 0px;
}

.match_summury_parti>div>div {
    display: flex;
    height: 20px;
    margin: 2px;
}

.match_summury_parti img {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 3px;
}

.match_detail_btn {
    position: relative;
    width: 50px;
}

.match_detail_btn div {
    position: absolute;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
}

/* detail */
.match_box {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 10px;
    margin-bottom: 10px;
}

.match_box>div:nth-child(1) {
    padding: 10px;
}

.match_box>div:nth-child(2) {
    display: flex;
    padding: 0 10px;
}

.match_box>div:nth-child(2)>div {
    width: 50%;
    margin: 0 10px;
}

.match_box>div:nth-child(3) {
    display: flex;
    padding: 10px;
}

.match_box_team {
    width: 50%;
}

.match_user_box {
    display: flex;
    height: 50px;
    padding: 5px;
    position: relative;
}

.match_user_img {
    display: flex;
    width: 100px;
}

.match_user_img>img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 5px;
}

.match_user_img div:nth-child(2) {
    border-radius: 5px;
    margin-right: 5px;
}

.match_user_img div:nth-child(2)>img {
    width: 21px;
    margin: 2px;
    display: block;
    border-radius: 2px;
    padding: 1px;
    background-color: var(--color-black);
}

.match_user_img div:nth-child(3) {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    top: 35px;
    left: 35px;
}

.match_user_info {
    width: 200px;
}

.match_user_info div:nth-child(1) {
    font-size: 16px;
}

.match_user_info div:nth-child(2) {
    font-size: 12px;
}

.match_user_info div:nth-child(3) {
    font-size: 12px;
    color: gray;
}

.match_user_cs {
    width: 50px;
    text-align: center;
}

.match_user_cs div:nth-child(1) {
    font-size: 12px;
}

.match_user_cs div:nth-child(2) {
    font-size: 15px;
}

.match_user_damage {
    width: 80px;
}

.match_user_item {
    display: flex;
    width: 220px;
    margin: 10px;
}

.match_user_item img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin: 0.5px;
}

.match_user_item p {
    width: 30px;
    height: 30px;
    background-color: var(--color-black);
    border-radius: 3px;
    margin: 0.5px;
}

.match_user_name {}

/** 992px 이하일 때 적용됨 */
@media (max-width: 992px) {}

@media (max-width: 768px) {
    .search_container {
        width: 90%;
    }

    .profile_box img {
        width: 100px;
        height: 100px;
    }

    .match_summury_container>div {
        height: 100px;
    }

    .match_summury_result {
        width: 80px;
        padding: 0px;
        padding-left: 10px;
        padding-top: 7px;
    }

    .match_summury_img {
        width: 100px;
        padding: 0;
        padding-left: 10px;
    }

    .match_summury_img {
        width: 100px;
    }

    .match_summury_img img {
        width: 80px;
        height: 80px;
    }

    .match_summury_img div {
        font-size: 12px;
        padding: 3px;
        bottom: 8px;
        right: 8px;
    }

    .match_summury_info {
        width: 250px;
    }

    .match_summury_info>div {
        position: absolute;
        top: 0;
        transform: translate(0, 0);
    }

    .match_summury_info_spell {
        display: flex;
        height: 40%;
        margin-top: 10px;
    }

    .match_summury_info_spell img {
        width: 20px;
        height: 20px;
    }

    .match_summury_kda {
        width: 120px;
        text-align: center;

    }

    .match_summury_kda div:nth-child(1) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .match_summury_extra {
        margin-top: 0px;
    }

    .match_summury_info_item {
        margin-top: 3px;
        height: 40%;
    }

    .match_summury_info_item img {
        width: 30px;
        height: 30px;
    }

    .match_summury_info_item p {
        width: 30px;
        height: 30px;
    }

    .match_summury_parti {
        display: block;
        width: 150px;
        padding-top: 5px;
    }

    .match_summury_parti>div {
        display: flex;
        width: 150px;
        padding: 5px 0;
    }

    .match_summury_parti>div>div>div {
        display: none;
    }

    .match_summury_parti img {
        width: 25px;
        height: 25px;
        margin-right: 0;
    }

    .match_detail_btn {
        display: none;
    }
}

@media (max-width: 628px) {
    .match_summury_parti {
        display: none
    }
}

@media (max-width: 576px) {
    .match_summury_parti {
        display: none
    }

    .match_detail_btn {
        display: none;
    }
}