.summoner_container {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
  min-height: 100vh;
  padding-top: 2rem;
}
@media (max-width: 992px) {
  .summoner_container {
    width: 100%;
  }
}

/* ===================== profile ===================== */
.summoner_profile_wrapper {
  width: 90%;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  border: #d0b173 solid 0.15rem;
  background-color: #ffffff;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  background: linear-gradient(#d0b173, #a78b55);
  font-size: 0.8rem;
}
.summoner_profile_wrapper > div:nth-child(1) > img {
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
}
.summoner_profile_wrapper > div:nth-child(1) > div {
  width: 3rem;
  text-align: center;
}
.summoner_profile_wrapper > div:nth-child(2) {
  flex-grow: 1;
  padding: 0 0.5rem;
}
.summoner_profile_wrapper > div:nth-child(2) > div:nth-child(1) > span:nth-child(1) {
  font-weight: 600;
}
.summoner_profile_wrapper > div:nth-child(2) > div:nth-child(2) {
  visibility: hidden;
}
.summoner_profile_wrapper > div:nth-child(2) > div:nth-child(3) {
  font-size: 0.7rem;
}

/* ===================== match ===================== */
.match_wrapper {
  width: 90%;
  margin: auto;
  margin-top: 0.5rem;
}

/* ===== summury ===== */
.match_summury_wrapper {
  width: 100%;
  height: 6.5rem;
  padding: 0.3rem;
  border-radius: 1rem;
  border: #d0b173 solid 0.15rem;
  background-color: #ffffff;
  margin: auto;
  display: flex;
}

.match_summury_result {
  font-size: 0.7rem;
}
.match_summury_result > div:nth-child(1) {
  font-weight: 700;
  white-space: pre-wrap;
}
.match_summury_result > div:nth-child(3) {
  width: 90%;
  margin-top: 0.8rem;
  padding-top: 0.2rem;
  font-weight: 700;
  border-top: 0.01rem solid #dadada;
}
@media (min-width: 768px) {
  .match_summury_result {
    width: 5rem;
  }
  .match_summury_result > div:nth-child(1) {
    white-space: nowrap;
  }
}

.match_summury_img {
  display: none;
}
@media (min-width: 768px) {
  .match_summury_img {
    position: relative;
    display: block;
    width: 6rem;
  }
  .match_summury_img img {
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .match_summury_img div {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20%;
    padding: 0.2rem;
    bottom: 0.1rem;
    right: 0.8rem;
  }
}

.match_summury_info {
  padding-left: 0.5rem;
  position: relative;
}
@media (min-width: 768px) {
  .match_summury_info {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.match_summury_info_default {
  display: flex;
}

.match_summury_mobile_img {
  position: relative;
  display: inline;
  width: 3.5rem;
}
.match_summury_mobile_img img {
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
}
.match_summury_mobile_img div {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  border-radius: 20%;
  padding: 0.2rem;
  bottom: 0rem;
  right: 0.3rem;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .match_summury_mobile_img {
    display: none;
  }
}

.match_summury_info_spell img {
  width: 1.5rem;
  margin: 0.1rem;
  padding: 0.1rem;
  border-radius: 20%;
  background-color: #000000;
}
@media (max-width: 576px) {
  .match_summury_info_spell img {
    width: 1.2rem;
  }
}

.match_summury_kda {
  flex-grow: 1;
  text-align: center;
  padding: 0.5rem;
  padding-bottom: 0;
}
.match_summury_kda > div:nth-child(2) {
  font-size: 0.8rem;
}

.match_summury_extra {
  display: none;
  width: 40%;
  text-align: center;
  padding-top: 0.8rem;
}

.match_summury_info_item {
  padding-top: 0.3rem;
  display: flex;
}
.match_summury_info_item img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20%;
  margin: 0.1rem;
}
.match_summury_info_item p {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20%;
  margin: 0.1rem;
  display: inline-block;
  background-color: #000000;
}

@media (min-width: 1200px) {
  .match_align_box {
    flex-grow: 1;
  }
}

.match_summury_parti {
  display: none;
  width: auto;
}
@media (min-width: 768px) {
  .match_summury_parti {
    flex-grow: 1;
    display: flex;
  }
  .match_summury_parti img {
    border-radius: 20%;
    margin-right: 0.2rem;
  }
  .match_summury_parti > div {
    width: 50%;
    font-size: 0.8rem;
  }
  .match_summury_parti > div > div {
    display: flex;
    height: 20%;
    padding: 0.05rem 0;
  }
  .match_summury_parti > div > div > div {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .match_summury_parti {
    flex-grow: 0;
    width: 30rem;
  }
}

/* ===== detail ===== */
.match_detail_wrapper {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  border: #d0b173 solid 0.15rem;
  background-color: #ffffff;
  margin: auto;
  margin-top: 0.5rem;
}
@media (min-width: 1200px) {
  .match_detail_wrapper {
    display: flex;
  }
}

.match_detail_team {
  width: 100%;
  overflow: hidden;
}
.match_detail_team > div:nth-child(1) {
  padding-bottom: 5px;
  border-bottom: solid 1px #000000;
}
@media (min-width: 1200px) {
  .match_detail_team {
    width: 50%;
  }
}

.match_detail_user_box {
  position: relative;
  display: flex;
  padding: 0.2rem 0;
}

.match_detail_user_img {
  display: flex;
  padding-right: 0.3rem;
}
.match_detail_user_img > div:nth-child(1) {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.match_detail_user_img > div:nth-child(1) > img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
}
.match_detail_user_img > div:nth-child(1) > div {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.7rem;
  padding: 0.1rem;
  bottom: 0.1rem;
  right: 0.2rem;
  border-radius: 20%;
}
.match_detail_user_img > div:nth-child(2) {
  padding-top: 0.2rem;
}
.match_detail_user_img > div:nth-child(2) > img {
  width: 1rem;
  height: 1rem;
  margin: 0.1rem;
  border-radius: 0.2rem;
}
.match_detail_user_img > div:nth-child(3) {
  padding-top: 0.2rem;
}
.match_detail_user_img > div:nth-child(3) > div {
  background-color: aqua;
  width: 1rem;
  height: 1rem;
  margin: 0.1rem;
  border-radius: 0.2rem;
}
.match_detail_user_info {
  font-size: 0.8rem;
  width: 45%;
}
.match_detail_user_info > div:nth-child(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.match_detail_user_info > div:nth-child(2) > div:nth-child(2) {
  font-size: 0.6rem;
}
@media (min-width: 1200px) {
  .match_detail_user_info {
    width: 20%;
  }
}

.match_detail_user_cs {
  display: none;
}
@media (min-width: 768px) {
  .match_detail_user_cs {
    display: inline;
    flex-grow: 1;
    text-align: center;
    font-size: 0.8rem;
  }
}

.match_detail_user_damage {
  text-align: center;
  font-size: 0.8rem;
  width: 20%;
}

.match_user_damage_bar {
  width: 80%;
  height: 0.2rem;
  margin: auto;
  background-color: #dadada;
}
.match_user_damage_bar > div {
  background-color: #dd3a3a;
  height: 0.2rem;
}

.match_user_damage_taken_bar {
  width: 80%;
  height: 0.2rem;
  margin: auto;
  background-color: #dadada;
}
.match_user_damage_taken_bar > div {
  background-color: #47519c;
  height: 0.2rem;
}

.match_detail_user_item {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  height: 2rem;
  transform: translateY(30%);
}
.match_detail_user_item img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10%;
  margin: 0.05rem;
}
.match_detail_user_item p {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10%;
  margin: 0.05rem;
  background-color: #000000;
}
@media (max-width: 576px) {
  .match_detail_user_item {
    display: none;
  }
}

.summoner_error_wrapper {
  width: 90%;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  border: #d0b173 solid 0.15rem;
  background-color: #ffffff;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .summoner_error_wrapper {
    width: 80%;
    padding: 3rem;
  }
}/*# sourceMappingURL=summoner.module.css.map */