$color-black: #000000;
$color-white: #ffffff;
$color-gray1: #dadada;
$color-gray2: #939393;
$color-gray3: #5c5c5c;
$color-gray4: #2f2f2f;
$color-purple1: #cb91de;
$color-purple2: #a54cc2;
$color-purple3: #793f8d;
$color-blue1: #d9dfff;
$color-blue2: #4d42e1;
$color-red1: #ffe6e6;
$color-red2: #dd3a3a;
$color-gold1: #fff4de;
$color-gold2: #f6d89d;
$color-gold3: #d0b173;
$color-gold4: #a78b55;
$color-gold5: #895e08;