$color-black: #000000;
$color-white: #ffffff;
$color-gray1: #dadada;
$color-gray2: #939393;
$color-gray3: #5c5c5c;
$color-gray4: #2f2f2f;
$color-purple1: #cb91de;
$color-purple2: #a54cc2;
$color-purple3: #793f8d;
$color-blue1: #d9dfff;
$color-blue2: #47519c;
$color-blue3: #4d42e1;
$color-red1: #ffe6e6;
$color-red2: #dd3a3a;
$color-gold1: #fff4de;
$color-gold2: #f6d89d;
$color-gold3: #d0b173;
$color-gold4: #a78b55;
$color-gold5: #895e08;
$color-green1: #c4ffdf;
$color-green2: #82caa4;
$color-green3: #67ba8e;
$color-green4: #5f9176;
$color-green5: #1e3143;

@mixin container {
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    min-height: 100vh;

    @media (max-width: 992px) {
        width: 100%;
    }
}

@mixin box($w, $h, $p) {
    width: $w;
    height: $h;
    padding: $p;
    border-radius: 1rem;
    border: $color-gold3 solid 0.15rem;
    background-color: $color-white;
    margin: auto;
}

@mixin title {
    padding: 5rem 0;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(to right, $color-gold5, $color-gold2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0.2rem 0.2rem 0.1rem $color-gray4);
}

@mixin btn($bg, $hoverBg) {
    border-radius: 0.5rem;
    border: $color-gold3 solid 0.15rem;
    padding: 0.3rem 0.8rem;
    background-color: $bg;
    text-align: center;

    &:hover {
        background-color: $hoverBg;
    }
}

@mixin logForm() {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 25rem;
}

@mixin textOverflow() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin textGradiant($color1, $color2) {
    background-clip: text;
    background: linear-gradient(to right, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}