@use './reset';

* {
  cursor: url('../asset/cursor.png'), auto;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  background-image:
    radial-gradient(at top left, reset.$color-green5, transparent),
    radial-gradient(at top right, reset.$color-green4, transparent),
    radial-gradient(at bottom left, reset.$color-blue2, transparent);
}

div {
  box-sizing: border-box;
}

a {
  color: reset.$color-black;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  display: block;
}

form {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  outline: none;
  border: none;
}

textarea {
  box-sizing: border-box;
  outline: none;
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  box-sizing: border-box;
  border: none;
}

/* ================== scroll setting ================== */
body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(reset.$color-gold3, reset.$color-gold5);
  border-radius: 3rem;
}

body::-webkit-scrollbar-track {
  // background: linear-gradient(reset.$color-green4, reset.$color-green5);
  background: reset.$color-black;
}