:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #dadada;
  --color-gray-dark1: #939393;
  --color-gray-dark2: #5c5c5c;
  --color-gray-dark3: #2f2f2f;
  --color-purple: #a54cc2;
  --color-purple-light: #cb91de;
  --color-purple-dark: #793f8d;
  --color-blue: #4d42e1;
  --color-blue-light: #d9dfff;
  --color-red: #dd3a3a;
  --color-red-light: #ffe6e6;
  --color-red-gray: #aa9090;
  --color-gold: #d0b173;
  --color-gold-light: #f6d89d;
  --color-gold-light2: #fff4de;
  --color-gold-dark1: #a78b55;
  --color-gold-dark2: #895e08;
}

* {
  cursor: url('../asset/cursor.png'), auto;
}

body {
  margin: 0;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-image:
    radial-gradient(at top left, #1e3143, transparent),
    radial-gradient(at top right, #5f9176, transparent),
    radial-gradient(at bottom left, #47519c, transparent);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--color-gold), var(--color-gold-dark2));
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(#5f9176, #1e3143);
}

div {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
}

/* bg */
.bg_gray {
  background-color: var(--color-gray);
}

.bg_gold {
  background-color: var(--color-gold);
}

.bg_red {
  background-color: var(--color-red);
}

.bg_blue {
  background-color: var(--color-blue);
}

.bg_red_light {
  background-color: var(--color-red-light);
}

.bg_blue_light {
  background-color: var(--color-blue-light);
}

.bg_blue_gradiant {
  background-image:
    linear-gradient(1.25turn, var(--color-blue), var(--color-gold))
}

.bg_red_gradiant {
  background-image:
    radial-gradient(at bottom right, var(--color-gold-dark1), transparent),
    radial-gradient(at top right, var(--color-gold), transparent),
    radial-gradient(at top left, var(--color-red), transparent);
}

.bg_match_gradiant_blue_win {
  background-image:
    linear-gradient(1.25turn, var(--color-blue-light), var(--color-blue-light), var(--color-gold-light))
}

.bg_match_gradiant_blue_lose {
  background-image:
    linear-gradient(1.25turn, var(--color-red-light), var(--color-red-light), var(--color-gold-light))
}

.bg_match_gradiant_red_win {
  background-image:
    linear-gradient(1.25turn, var(--color-gold-light), var(--color-blue-light), var(--color-blue-light))
}

.bg_match_gradiant_red_lose {
  background-image:
    linear-gradient(1.25turn, var(--color-red-light), var(--color-gold-light), var(--color-red-light))
}

/* color */
.red {
  color: var(--color-red);
}

.blue {
  color: var(--color-blue);
}

.gold_border {
  color: var(--color-black);
  text-shadow: #5f9176 1px 1px;
}

.gold {
  color: var(--color-gold);
}

.black {
  color: var(--color-black);
}

.gray_dark2 {
  color: var(--color-gray-dark2);
}

/* width */
.w40 {
  width: 40px;
}

/* font-size */
.f10px {
  font-size: 10px;
}

.f12px {
  font-size: 12px;
}

.f13px {
  font-size: 13px;
}

.f14px {
  font-size: 14px;
}

.f16px {
  font-size: 16px;
}

.f18px {
  font-size: 18px;
}

/* font-weight */
.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

/* padding */
.p2 {
  padding: 2px;
}

.p4 {
  padding: 4px;
}

.p6 {
  padding: 6px;
}

.p8 {
  padding: 8px;
}

.p10 {
  padding: 10px;
}

/* ================================================ */
/* sort */
.s_mid {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.a_mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* detail_btn */
.red_btn {
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--color-red);
}

.blue_btn {
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--color-blue);
}

/* loading */
.loading {
  width: 100vw;
  height: 100vh;
  cursor: url('../asset/load01.gif'), wait;
}