/* ================== css reset ================== */
* {
  cursor: url('../asset/cursor.png'), auto;
}

body {
  margin: 0;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-image:
    radial-gradient(at top left, #1e3143, transparent),
    radial-gradient(at top right, #5f9176, transparent),
    radial-gradient(at bottom left, #47519c, transparent);
}

div {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  box-sizing: border-box;
}

form {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  outline: none;
  border: none;
}

textarea {
  box-sizing: border-box;
  outline: none;
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
}

/* ================== scroll setting ================== */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--color-gold), var(--color-gold-dark2));
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(#5f9176, #1e3143);
}

/* ================== css setting ================== */
/* width */
.w40 {
  width: 40px;
}

.w100 {
  width: 100px;
}

/* font-size */
.f10px {
  font-size: 10px;
}

.f12px {
  font-size: 12px;
}

.f13px {
  font-size: 13px;
}

.f14px {
  font-size: 14px;
}

.f16px {
  font-size: 16px;
}

.f18px {
  font-size: 18px;
}

/* font-weight */
.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

/* padding */
.p2 {
  padding: 2px;
}

.p4 {
  padding: 4px;
}

.p6 {
  padding: 6px;
}

.p8 {
  padding: 8px;
}

.p10 {
  padding: 10px;
}

/* padding-top */
.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

/* margin */
.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

/* margin-left */
.ml5 {
  margin-left: 5px;
}