:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-purple: #a54cc2;
  --color-purple-light: #cb91de;
  --color-purple-dark: #793f8d;
}

body {
  background-color: var(--color-purple-light);
  margin: 0;
}