.main_container {
    width: 100%;
    height: 100%;
    background-color: var(--main-color-blue);
    position: relative;
}

.main_title {
    padding: 70px 0;
    color: white;
    text-align: center;
    font-size: 60px;
}