@use '../reset';

/** ================= champList =================*/
.champ_container {
    @include reset.container()
}

.champ_title {
    @include reset.title();
    padding: 2rem 0;

    @media (min-width: 768px) {
        @include reset.title();
    }
}

.champList_wrapper {
    @include reset.box(90%, auto, 0);
    overflow: hidden;
}

.champList_toggle_btn {
    display: flex;
    background: linear-gradient(reset.$color-gold3, reset.$color-gold4);
    font-size: 0.8rem;

    >div {
        flex-grow: 1;
        padding: 0.7rem 0;
        text-align: center;
    }
}

.toggle_btn_selected {
    background-color: reset.$color-white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.champList_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.5rem 0;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.champInfo_box {
    position: relative;
    width: 5rem;
    margin: 0.5rem auto;

    img {
        width: 100%;
    }

    >div:nth-child(2) {
        width: 100%;
        z-index: 1;
        color: reset.$color-white;
        text-align: center;
        background-color: reset.$color-black;
        font-size: 0.8rem;
        height: 20%;
    }

    &:hover {
        transform: scale(1.1);
        transition-duration: 500ms;

        img {
            filter: brightness(130%);
        }
    }

    @media (min-width: 768px) {
        width: 6rem;
    }
}

/** ================= champDetail =================*/
.champ_detail_container {
    @include reset.container();
}

.champ_detail_wrapper {}